body {
    background-color: #e6e6e6;
}

form {
    float: right;
    margin-right: 0px;
}

#gif-view {
    margin: 5px;
}

#buttons {
    margin-bottom: 50px;
}

img {
    height: 200px;
    width: 200px;
    margin: 5px;
}